{% extends 'base.html' %}

{% block body %}

<div class="container mt-24">
    <div class=" my-4">
        <b class="mb-24 text-xl">step 1 - My Awesome Cart Express Checkout - Review your cart items </b>
        <div class="my-4">
            <div class="checkoutproducts">
            
            </div>
        </div>
    </div>
    <div class="col my-4">
        <b class="mb-24 text-xl">step 2 - Enter Address & Other Details </b>
            <form method="post" action="/checkout/">{% csrf_token %}
                <input required type="hidden" name="itemsJson" id="itemsJson">
                <input required type="hidden" name="amount" id="amount">
              <div class="form-row">
                <div class="form-group col-md-6">
                  <label for="name">Name</label>
                  <input required type="text" class="form-control" id="name" name="name" placeholder="Name">
                </div>
                <div class="form-group col-md-6">
                  <label for="email1">Email</label>
                  <input required type="email" class="form-control" id="email1" name="email" placeholder="Email">
                </div>
              </div>
              <div class="form-group">
                <label for="address1">Address</label>
                <input required type="text" class="form-control" id="address1" name="address1" placeholder="1234 Main St">
              </div>
              <div class="form-group">
                <label for="address2">Address Line 2</label>
                <input type="text" class="form-control" id="address2" name="address2" placeholder="Apartment, studio, or floor">
              </div>
              <div class="form-row">
                <div class="form-group col-md-6">
                  <label for="city">City</label>
                  <input required type="text" class="form-control" name="city" id="city">
                </div>
                <div class="form-group col-md-4">
                  <label for="State">State</label>
                  <input required type="text" class="form-control" name="state" id="State" placeholder="Enter State">
                </div>
                <div class="form-group col-md-2">
                  <label for="zip">Zip</label>
                  <input required type="text" class="form-control" name="zip_code" id="zip">
                </div>
              </div>
              <div class="form-group Phone">
                  <label for="phone">Phone Number </label>
                  <input required type="tel" class="form-control" id="phone" name="phone">
                </div>
              <button type="submit" class="btn btn-primary">Place Order</button>
            </form>
    </div>
</div>

{% endblock body %}

