{% extends 'base.html' %}


{% block body %}

<h1 class=" text-xl"><b class="ml-3 text-xl">Search Result : </b></h1>

<section class="text-gray-700 body-font">
  <div class="container px-5 py-24 mx-auto">
    <div class="flex flex-wrap -m-4">

{% if allproducts|length < 1 %}
<p class=" text-xl">No Search Results :- &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
<p> Your Search Query -<b class="ml-3 text-xl"> {{ query }} </b> - did not match any products.<br><br></p>

<div class="container px-5 py-24 mx-auto">
Suggestions: <br><br>

<ul>
<li>Make sure that all wards are spelled correctly.</li>
<li>Try different Keywords.</li>
<li>Try more general keywords.</li>
<li>Try fewer keywords.</li>
</ul>
</div>
{% endif %}




{% for product in allproducts %}

  <div class="lg:w-1/4 md:w-1/2 p-4 w-full mt-10 rounded border-2 ">
        <a class="block relative h-48 rounded overflow-hidden w-75" href="../product-view-page/{{product.bsno}}">
          <img alt="ecommerce" class="object-cover object-center w-100 block" src="{{product.product_imgurl}}">
        </a>
        <div class="mt-4">
          <h3 class="text-gray-500 text-xs tracking-widest title-font mb-1">{{product.product_desc|truncatechars:150}}</h3>
          <h2 class="text-gray-900 title-font text-lg font-medium">{{product.product_title}}</h2>
          <p class="mt-1">RS.{{product.product_price}}</p>
          <div class="container mx-auto flex px-10 mt-4  items-center justify-center flex-col">
            <a href="../product-view-page/{{product.bsno}}"  class="text-white text-center bg-indigo-500 border-0 py-1 px-1 focus:outline-none hover:bg-indigo-600 rounded text-lg">View product</a>
          </div>
        </div>
      </div>



{% endfor %}

  </div>
  </div>
</section>







{% endblock body %}